<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>eVaidya</title>
  <link rel="stylesheet" href="{% static 'css/aboutus.css' %}" media="screen">
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br><br>
  <div class="about-section">
    <div class="inner-container">
      <h1>About Us</h1>
      <p class="text">
        eVaidya focusses on giving medical attention 
      to the rural and needy people. It is an accesible and user friendly platform.
       Here we aim to connect Rural Medical Practitioner (RMP: who are the actual
        mediators between doctors and patients) on an online platform with both doctors and patients
      </p>
      <div class="skills">
        <span>RMP Service</span>
        <span>Connecting Doctors</span>
        <span>Donate Now!</span>
      </div>
    </div>
  </div>

  {% include "hospital/footer.html" %}
</body>
</html>
